<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminLoginPage</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/adminLoginPageStyle.css">
</head>

<body>

    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- MAIN *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*- -->
    <main>
        <div class="loginContainer">
            <p>&lt; PinguClass &gt;</p>
            <p>관리자 로그인</p>
            <form action="">
                <input type="text" name="adcode" placeholder="관리자 코드를 입력해주세요.">
                <div class="login">
                    <button>로그인</button>
                </div>
            </form>
        </div>
    </main>

</body>

</html>