/* 기본 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    color: rgb(80, 80, 80);
}

.main{
    min-width: 1024px;
    background-color: gray;
}

/* 컨텐츠 기본 설정 */

.contentWrap{
    position: relative;
    padding: 20px 20px;
    min-height: 100vh - 50px - 250px;
    background-color:#c5c7cc;
}

.content{
    position: relative;
    width: 600px;
    margin: 0 auto;
    padding:50px;
    background-color: white;
}

/* 상품정보 진열 */
.productForm{
    position: relative;
}
.productForm > *{
    margin-top: 200px;
}

.productInfo{
    position: absolute;
    right: 10px;
}

.productForm > div > span {
    text-align: right;    
}

.totalPaymentAmount{
    border-top: 1px solid #c5c7cc;
}

.totalPaymentAmount > span:nth-child(2) {
    color: red;
    font-size:x-large;
    font-weight: 1000;
}

.productForm > *{
    padding: 1rem;
    margin: 0 auto;
    height: 50px;
}

/* 결제수단 */

.paymentMethod{
    padding: 1rem;
}

.paymentMethod > div > ul > li > * {
    margin: 10px;    
}


/* 구매자 정보 */

.buyerInfo > *{
    height: auto;
    margin: auto;
    padding: 10px;

}


.buyerInfo > div > input{
    margin: 10px 10px 10px 40px;
    padding: 13px 16px;
    height: 100%;
    width: 80%;
    border-radius: 5px;
}

/* 이용약관 */

.agree{
    margin-top: 10px;
}

.agreeCheckbox{
    margin: 20px 20px;

}

.agreeLayout{
    width: 80%; 
    height: 200px;
    margin-left: 40px;
    background-color: #f7f7f7;
    overflow: scroll;
}

.agreeText{
    margin: 10px 10px 10px 20px;
}

.buttonLayout{
    margin-top: 40px;
    text-align: center;
}

.buttonLayout > button{
    width: 200px;
    height: 50px;
    margin: 5px;    
}